[submodule "Modules/OxygenUnloader"]
	path = Modules/OxygenUnloader
	url = https://github.com/artifact-modules/oxygen-unloader.git
[submodule "Modules/OxygenSandbox"]
	path = Modules/OxygenSandbox
	url = https://github.com/artifact-modules/oxygen-sandbox.git
[submodule "Modules/OxygenCollaboration"]
	path = Modules/OxygenCollaboration
	url = https://github.com/artifact-modules/oxygen-collaboration.git
	update = none
[submodule "Modules/Command"]
	path = Modules/Command
	url = https://github.com/artifact-modules/command.git
